@page "/negociation"
@using SourceCode.Vendas;
@using SourceCode.Stands;
@using SourceCode.Utilizadores;
@using SourceCode.WebClasses;
@using SourceCode;
@using FeirasEspinhoBlazorApp.Pages.PagesStand;
@inject SistemaFeiras facade;


<PageTitle>Negociação</PageTitle>

@if(negociar)
{
	<StartNegociationComponent venda="@venda" returnPage="1" neg="@component" negsin="this" stand="null"/>
}
else
{	
	<PageTitle>Negociação</PageTitle>
	<h2>Negociação</h2>
	<br />
	<div>
		<div>	
			<label><b>Email Cliente</b></label>
			<input type="text" class="tb" id="emailCL" name="emailCL" @bind-value="@venda.EmailCliente" readonly="readonly" />
			<br />
			<label><b>Email Feirante</b></label>
			<input type="text" class="tb" id="emailFeirante" name="emailFeirante" @bind-value="@stand.EmailDono" readonly="readonly" />
			<br />
			<label><b>Stand</b></label>
			<input type="text" class="tb" id="idStand" name="idStand" @bind-value="@venda.IdStand" readonly="readonly" />
		</div>
		<br />
		<div>
			<label><b>Preço Base</b></label>
			<input type="text" class="tb" id="precoTotal" name="precoTotal" @bind-value="@negociacao.PrecoBase" readonly="readonly" />
			<br />
			<label><b>Preço Proposto</b></label>
			<input type="text" class="tb" id="precoTotal" name="precoTotal" @bind-value="@negociacao.PrecoNegociacao" readonly="readonly" />
		</div>
		<br />
		<div>
			@if(alterar)
			{
				<button class="buttonA buttonTable1" @onclick="Aceitar">Aceitar</button>
				<button class="buttonA buttonTable1" @onclick="Recusar">Recusar</button>
				<button class="buttonA buttonTable2" @onclick="Negociar">Negociar</button>
			}
			<button class="buttonA buttonTable2" @onclick="Voltar">Voltar</button>
		</div>
	</div>
}
@code 
{
	[Parameter, EditorRequired]
	public int idVenda { get; set; }
	[Parameter, EditorRequired]
	public string email { get; set; }
	[Parameter, EditorRequired]
	public ShowNegociacoesComponent component { get; set; }
	private bool negociar = false;
	private bool alterar = false;
	private Venda venda;
	private Negociacao negociacao;
	private Stand stand;

	protected override void OnInitialized()
	{
		venda = facade.GetVenda(idVenda);
		if(venda.Negociacao.HasValue)
		{
			Utilizador user = facade.GetUtilizador(email);
			negociacao = facade.GetNegociacao((int)venda.Negociacao);
			alterar = negociacao.Resposta;
			if (user is Feirante)
				alterar = !alterar;
		}
		stand = facade.GetStand(venda.IdStand);
	}
	private void Aceitar()
	{
		facade.RegistaSucesso(negociacao.IdNegociacao);
		component.GetBack("Sucesso Registado.");
	}
	private void Recusar()
	{
		facade.RegistaInsucesso(negociacao.IdNegociacao);
		component.GetBack("Insucesso Registado.");
	}
	private void Negociar()
	{
		negociar = true;
	}
	private void Voltar()
	{
		component.GetBack();
	}
	public void GetBack()
	{
		negociar = false;
	}
}
