@page "/shownegociacoes/{email}"
@using SourceCode.Vendas;
@using SourceCode.WebClasses;
@using SourceCode;
@inject SistemaFeiras facade;

<PageTitle>Negociações</PageTitle>
@if(showNegociation)
{
	<NegociationComponent idVenda="@idVenda" email="@email"/>
}
else
{
	<h2>Negociações</h2>
	@if (erro != 0)
	{
		<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="5" />
	}
	else if (sucess)
	{
		<WarningComponent mensagem="@sucessMessage" sucess="true" page="5" />
	}
	<div class="tableFixHead">
		<table>
			<thead>
				<tr>
					<th>Pedido</th>
					<th>Preço Base</th>
					<th>Preço Debate</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var venda in table.Content)
				{
					<tr class=@table.Cssclasses[venda.Item1] @onclick="() => table.SelectedRow(venda.Item1)">
						<td> @venda.Item2.Negociacao</td>
						<td> @venda.Item2.Preco</td>
						<td> @dict[venda.Item2.IdVenda].PrecoNegociacao</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<button class="buttonA buttonTable1" @onclick="Consultar">Consultar</button>
	</div>
}

@code 
{
	[Parameter,EditorRequired]
	public string email {get; set;}
	private Table<Venda> table;
	private bool showNegociation;
	private int idVenda;
	private Dictionary<int, Negociacao> dict = new();
	private static ShowNegociacoesComponent showNegociacoes;
	private int erro;
	private bool sucess;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private string sucessMessage;
	private void InitializeData()
	{
		dict.Clear();
		List<Venda> negociacaos = facade.GetNegociacoes(email);
		negociacaos.ForEach(v => dict.Add(v.IdVenda, facade.GetNegociacao(v.Negociacao.Value)));
		table = new Table<Venda>(negociacaos);
	}
	protected override void OnInitialized()
	{
		codigosErro[0] = "Negociação não registada";
		InitializeData();
		// public Venda(int idVenda, DateTime data, float preco, string emailCliente, int idFeira, int negociacao, int idStand)
		showNegociacoes = this;
	}
	public static ShowNegociacoesComponent GetInstance()
	{
		return showNegociacoes;
	}
	private void Consultar()
	{
		if(table.IdValid())
		{
			Venda venda = table.GetElement();
			idVenda = venda.IdVenda;
			showNegociation = true;
		}
	}
	public void GetBack()
	{
		InitializeData();
		showNegociation = false;
		erro = 0;
		sucess = false;
		table.Unselect();
		StateHasChanged();
	}

	public void GetBack(int erro)
	{
		showNegociation = false;
		this.erro = erro;
		sucess = false;
		table.Unselect();
		StateHasChanged();
	}

	public void GetBack(string message)
	{
		InitializeData();
		showNegociation = false;
		erro = 0;
		sucess = true;
		sucessMessage = message;
		table.Unselect();
		StateHasChanged();
	}
}
