@page "/aprovecandidaturas/{emailAdmin}"
@using SourceCode.Feiras;
@using SourceCode.WebClasses;
@using SourceCode.Utilizadores;
@using SourceCode;
@inject SistemaFeiras facade;

<div>
	<h2>Aprovação de candidaturas</h2>
	@if(erro != 0)
	{
		<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="17"/>
	}
	<div class="tableFixHead">
		<table>
			<thead>
				<tr>
					<th>Feira</th>
					<th>Email</th>
					<th>Feirante</th>
					<th>Stand</th>
					<th>Avaliação Feirante</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var candidatura in table.Content)
				{
					<tr class=@table.Cssclasses[candidatura.Item1] @onclick="() => table.SelectedRow(candidatura.Item1)">
						<td> @feiras[candidatura.Item2.IdFeira].Nome</td>
						<td> @users[candidatura.Item2.IdStand].Item1.Email</td>
						<td> @users[candidatura.Item2.IdStand].Item1.Username</td>
						<td> @candidatura.Item2.IdStand</td>
						@if (@users[candidatura.Item2.IdStand].Item2.HasValue)
						{
							<td> @users[candidatura.Item2.IdStand].Item2</td>
						}
						else
						{
							<td> <b>-</b></td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<button class="buttonA buttonTable1" @onclick="AceitarCandidatura">Aceitar</button>
		<button class="buttonA buttonTable2" @onclick="RecusarCandidatura">Recusar</button>
	</div>
</div>
@code
{
	[Parameter, EditorRequired]
	public string emailAdmin { get; set; }
	private Table<Candidatura> table;
	private Dictionary<int, Feira> feiras;
	private Dictionary<int, (Utilizador, float?)> users;
	private static AproveCandidaturaComponent component;
	private int erro = 0;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private void InitializeData()
	{
		feiras = new();
		users = new();
		table = new Table<Candidatura>(facade.GetCandidaturasAnalise(emailAdmin));
		table.Content.ForEach(c => { if (!feiras.ContainsKey(c.Item2.IdFeira)) feiras.Add(c.Item2.IdFeira, facade.GetFeira(c.Item2.IdFeira)); });
		table.Content.ForEach(c => { if (!users.ContainsKey(c.Item2.IdStand)) users.Add(c.Item2.IdStand, (facade.GetUtilizador(facade.GetStand(c.Item2.IdStand).EmailDono), facade.GetAvaliacoesStands(c.Item2.IdStand))); });
	}
	protected override void OnInitialized()
	{
		codigosErro[1] = "Candidatura não selecionada";
		component = this;
		InitializeData();
	}
	public static AproveCandidaturaComponent GetInstance()
	{
		return component;
	}
	public void CleanWarning()
	{
		erro = 0;
		StateHasChanged();
	}
	private void AceitarCandidatura()
	{
		if (table.IdValid())
		{
			Candidatura c = table.GetElement();
			facade.AprovarCandidatura(c.IdCandidatura);
			InitializeData();
		}
		else
			erro = 1;
	}
	private void RecusarCandidatura()
	{
		if (table.IdValid())
		{
			Candidatura c = table.GetElement();
			facade.RemoveCandidatura(c.IdCandidatura);
			InitializeData();
		}
		else
			erro = 1;
	}

}
