@page "/showfeirastands"
@using SourceCode.WebClasses;
@using SourceCode.Stands;
@using SourceCode.Utilizadores;
@using SourceCode;
@using SourceCode.Feiras;
@using System.Text.Json;
@using FeirasEspinhoBlazorApp.Pages.PagesStand;
@using FeirasEspinhoBlazorApp.Pages.PagesLeilao;
@inject NavigationManager navigationManager

<PageTitle>Stands</PageTitle>

<div>
	@if (showAvaliacao)
	{
		<EvaluationComponent avaliacaoStr="Avalie o Stand"/>

	}
	else if (showStand)
	{
		<ShowStandComponent idStand="@idStand" idFeira="@idFeira" emailCL="@email"/>
	}
	else if (showLeilao)
	{
		<ShowStandLeilaoComponent idFeira="@idFeira" idStand="@idStand"/>
	}
	else if(showCandidatura)
	{
		<FormCandidaturaComponent email="@email" idFeira="@idFeira" idStand="@idStand" />
	}
	else
	{	
		<h3>Stands disponíveis</h3>
		<br />
		@if (erro != 0)
		{
			<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="4"/>
		}
		<div class="tableFixHead">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Feirante</th>
						<th>Data Criação</th>
						<th>Categoria</th>
						<th>Avaliação</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var stand in tabelContent.Content)
					{
						<tr class=@tabelContent.Cssclasses[stand.Item1] @onclick="() => tabelContent.SelectedRow(stand.Item1)">
								<td> @stand.Item2.IdStand</td>
								<td> @nomes[stand.Item2.EmailDono]</td>
								<td> @stand.Item2.DataCriacao</td>
								<td> @stand.Item2.Categoria</td>
								<td> @stand.Item3</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<br />
		<div>
			@if(type)
			{
				<button class="buttonA buttonTable1" @onclick="ConsultarStand">Consultar Stand</button>
				<button class="buttonA buttonTable2" @onclick="ConsultarLeiloes">Consultar Leilões</button>
				<button class="buttonA" @onclick="Retroceder">Retroceder</button>
			}
			else
			{
				<button class="buttonA" @onclick="SelecionarStand">Selecionar Stand</button>
				
			}
		</div>
	}
</div>
@code {
	[Parameter, EditorRequired]
	public string email { get; set; }
	[Parameter, EditorRequired]
	public int idFeira { get; set; }
	private SistemaFeiras facade = SistemaFeiras.GetInstance();
	private Feira feira;
	private int avaliacao = -1;
	private bool showAvaliacao = false;
	private bool showStand = false;
	private bool showLeilao = false;
	private bool showCandidatura = true;
	private bool type;
	private int idStand = 0;
	private Dictionary<string, string> nomes = new Dictionary<string, string>();
	private Table<Stand> tabelContent;
	private int erro = 0;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private static ShowFeiraStandsComponent showBancas;
	protected override void OnInitialized()
	{
		Utilizador utilizador = facade.GetUtilizador(email);
		type = utilizador is Cliente;
		if (type)
		{
			showBancas = this;
			List<Stand> stands = facade.GetStandsFeira(idFeira);
			List<(Stand, int)> conteudo = new List<(Stand, int)>();
			stands.ForEach(s => conteudo.Add((s, 0)));
			foreach(Stand s in stands)
			{
				Utilizador dono = facade.GetUtilizador(s.EmailDono);
				nomes[dono.Email] = dono.Username;
			}
			this.tabelContent = new Table<Stand>(conteudo);
		}
		else
		{
			List<Stand> stands = facade.GetStandFeirante(email);
			List<(Stand, int)> conteudo = new List<(Stand, int)>();
			nomes[utilizador.Email] = utilizador.Username;
			stands.ForEach(s => conteudo.Add((s, 0)));
		}
		codigosErro[1] = "Nenhum stand selecionado";
	}
	public static ShowFeiraStandsComponent GetInstace()
	{
		return showBancas;
	}
	public void CleanWarning()
	{
		this.erro = 0;
		StateHasChanged();
	}
	public void ConsultarStand()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
			Stand s = tabelContent.GetElement();
			idStand = s.IdStand;
			showStand = true;
			showAvaliacao = false;
			showLeilao = false;
		}
		else
		{
			erro = 1;
		}
	}

	public void ConsultarLeiloes()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
			Stand s = tabelContent.GetElement();
			idStand = s.IdStand;
			showStand = false;
			showAvaliacao = false;
			showLeilao = true;
		}
		else
		{
			erro = 1;
		}
	}
	public void Avalia(int avaliacao)
	{
		this.avaliacao = avaliacao;
	}
	public void GetBack()
	{
		showStand = false;
		showAvaliacao = false;
		showLeilao = false;
		showCandidatura = false;
		tabelContent.Unselect();
		StateHasChanged();
	}
	public void Retroceder()
	{
		ShowFeirasComponent showFeirasComponent = ShowFeirasComponent.GetInstace();
		showFeirasComponent.GetBack();
	}
	public void SelecionarStand()
	{
		if(tabelContent.IdValid())
		{
			erro = 0;
			Stand s = tabelContent.GetElement();
			idStand = s.IdStand;
			showCandidatura = true;
			showStand = false;
			showAvaliacao = false;
			showLeilao = false;
		}
		else
		{
			erro = 1;
		}
	}
}
