@page "/showstand"
@using SourceCode.WebClasses;
@using SourceCode.Vendas;
@using SourceCode.Stands;
@using SourceCode.Utilizadores;
@using SourceCode;
@using FeirasEspinhoBlazorApp.Pages.PagesFeira;
@using System.Text.Json;
@inject SistemaFeiras facade;

<PageTitle>Stand</PageTitle>

@if(fastPurchase)
{
	<FastPurchaseComponent venda="@venda"/>
}
else if (negociation)
{
	<StartNegociationComponent venda="@venda" returnPage="0"/>
}
else if (formProduto)
{
	<FormProdutoComponent page="1" stand="@idStand"/>
}
else
{
	<div>
		<h3>Bem vindo ao stand</h3>
		<br />
		@if (erro != 0)
		{
			<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="5"/>
		}
		else if (sucess)
		{
			<WarningComponent mensagem="@sucessMessage" sucess="true" page="5"/>
		}
		<div class="tableFixHead">
			<table>
				<thead>
					<tr>
						<th>Produto</th>
						<th>Nome</th>
						<th>Preço</th>
						<th>Stock</th>
						@if(type)
						{
							<th>Quantidade</th>
						}
						else
						{
							<th>Aumento Stock</th>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var produto in tabelContent.Content)
					{
						@if (type)
						{
							<tr class=@tabelContent.Cssclasses[produto.Item1]>
								<td> @produto.Item2.IdProduto</td>
								<td> @produto.Item2.Nome</td>
								<td> @produto.Item2.Preco</td>
								<td> @produto.Item2.Stock</td>
								<td> <input type="text" class="tb tb_smaller" id="quantidade" name="quantidade" placeholder="Quantidade" @oninput="(args) => RecalculaPrecoTotal(args,produto.Item1)" /></td>
							</tr>
						}
						else
						{
							<tr class=@tabelContent.Cssclasses[produto.Item1] @onclick="() => tabelContent.SelectedRow(produto.Item1)">
								<td> @produto.Item2.IdProduto</td>
								<td> @produto.Item2.Nome</td>
								<td> @produto.Item2.Preco</td>
								<td> @produto.Item2.Stock</td>
								<td> <input type="text" class="tb tb_smaller" id="quantidade" name="quantidade" placeholder="Quantidade" @bind-value="quantidades[produto.Item1]" /></td>
							</tr>
								
						}
					}
				</tbody>
			</table>
		</div>
		<br />
		@if (type)
		{
			<div>
				<br />
				<label><b>Preço total</b></label>
				<input type="text" class="tb tb_smaller" id="precoTotal" name="precoTotal" @bind-value="@precoTotal" readonly="readonly" />
			</div>
			<br />
			<div>
				<button class="buttonA buttonTable1" @onclick="CompraRapida">Comprar Rápida</button>
				@if(stand.Negociavel)
				{
					<button class="buttonA buttonTable2" @onclick="Negociar">Negociar</button>
				}
				<button class="buttonA" @onclick="Retroceder">Retroceder</button>
			</div>
		}
		else
		{
			<div>
				<button class="buttonA buttonTable1" @onclick="AdicionarProduto">Adicionar Produto</button>
				<button class="buttonA buttonTable2" @onclick="AumentarStockProduto">Aumentar Stock Produto</button>
				<button class="buttonA" @onclick="EliminarProduto">Eliminar Produto</button>
				<button class="buttonA" @onclick="Retroceder">Retroceder</button>
			</div>
		}
	</div>
}
@code
{
	[Parameter, EditorRequired]
	public int idStand { get; set; }
	[Parameter, EditorRequired]
	public int idFeira { get; set; }
	[Parameter, EditorRequired]
	public string email { get; set; }
	public string sucessStr { get; set; }
	public string sucessMessage { get; set; }
	public string erroStr { get; set; }
	private Stand stand;
	private int erro;
	private Table<Produto> tabelContent;
	private bool sucess;
	private bool fastPurchase = false;
	private bool negociation = false;
	private bool formProduto = false;
	private float precoTotal = 0;
	private bool type;
	private Venda venda;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private Dictionary<int, int> quantidades = new Dictionary<int, int>();
	private static ShowStandComponent standComponent;
	protected override void OnParametersSet()
	{
		if(!int.TryParse(erroStr, out erro))
			erro = 0;
		if (!bool.TryParse(sucessStr, out sucess))
			sucess = false ;
	}
	private void InitializedTable()
	{
		stand = facade.GetStand(idStand);
		List<Produto> conteudo = stand.Produtos.Where(p => p.Disponivel).ToList();
		this.tabelContent = new Table<Produto>(conteudo);
		quantidades.Clear();
		for (int i = 0; i < conteudo.Count; i++)
			quantidades[i] = 0;
	}
	protected override async void OnInitialized()
	{
		Utilizador user = facade.GetUtilizador(email);
		standComponent = this;
		InitializedTable();
		type = user is Cliente;
		if(type)
		{
			facade.IncrementConsultantes(idStand);
			codigosErro[2] = "Compra cancelada";
			codigosErro[3] = "Negociação cancelada";
			codigosErro[4] = "Quantidades tem que ser menores que o stock.";
		}
		else
		{
			codigosErro[2] = "Nenhum produto selecionado";
			codigosErro[3] = "Adicionar produto cancelado";
		}
		codigosErro[1] = "Nenhum stand selecionado";
		codigosErro[5] = "Quantidades todas nulas";
	}
	public static ShowStandComponent GetInstance()
	{
		return standComponent;
	}
	public void CleanWarning()
	{
		this.erro = 0;
		sucess = false;
		StateHasChanged();
	}
	private void RecalculaPrecoTotal(ChangeEventArgs args, int key)
	{
		int number;
		if(int.TryParse(args.Value.ToString(),out number) && number > 0)
			quantidades[key] = number;
		else
			quantidades[key] = 0;
		precoTotal = quantidades.Keys.ToList().Select(id => tabelContent.Content[id].Item2.Preco * quantidades[id]).Sum();
	}
	private void CreateVenda()
	{
		List<(Produto, int)> list = tabelContent.Content.Where(p => quantidades[p.Item1] > 0).Select(p => (p.Item2, quantidades[p.Item1])).ToList();
		venda = new Venda(0,DateTime.Now,precoTotal,email,idFeira,null,idStand,list);
	}
	private bool Avanca()
	{
		return quantidades.Where(p => p.Value > 0).Count() > 0;
	}
	public void CompraRapida()
	{
		if (Avanca())
		{
			CreateVenda();
			if(facade.VendaCompativel(venda))
			{
				fastPurchase = true;
				negociation = false;
			}
			else
				erro = 4;
		}
		else
			erro = 5;

	}
	public void Negociar()
	{
		if (Avanca())
		{
			CreateVenda();
			negociation = true;
			fastPurchase = false;
		}
		else
			erro = 5;

	}
	public void Retroceder()
	{
		@if(type)
		{
			ShowFeiraStandsComponent showFeirasStandsComponent = ShowFeiraStandsComponent.GetInstace();
			showFeirasStandsComponent.Avalia();
		}
		else
		{
			ShowStandsFeiranteComponent.GetInstance().GetBack();
		}
	}
	public void ShowStand(int cod)
	{
		sucess = false;
		this.erro = cod;
		fastPurchase = false;
		negociation = false;
		formProduto = false;
		precoTotal = 0;
		StateHasChanged();
	}

	public void ShowStand(string message)
	{
		InitializedTable();
		this.erro = 0;
		sucess = true;
		sucessMessage = message;
		fastPurchase = false;
		negociation = false;
		formProduto = false;
		precoTotal = 0;
		StateHasChanged();
	}
	public void AdicionarProduto()
	{
		formProduto = true;
	}

	public void AumentarStockProduto()
	{
		tabelContent.Content.ForEach(p => { if (quantidades[p.Item1] > 0) facade.AumentaStock(p.Item2.IdProduto, quantidades[p.Item1]); });
		InitializedTable();
		sucess = true;
		sucessMessage = "Stock adicionado";
	}

	public void EliminarProduto()
	{
		if (tabelContent.IdValid())
		{
			Produto p = tabelContent.GetElement();
			facade.EliminaProduto(p.IdProduto);
			InitializedTable();
		}
		else
			erro = 2;
	}
}
