@page "/showfeiras"
@using SourceCode.WebClasses;

@inject NavigationManager navigationManager

<PageTitle>Feiras</PageTitle>

<h3>Feiras disponíveis</h3>
<br />
<div>
	@if (erro != 0)
	{
		<WarningComponent mensagem="@codigosErro[erro]" sucess="false" />
	}
	<div>
		<table>
			<tbody>
				<tr>	
					<th>Id</th>
				<th>Nome</th>
				<th>Data Início</th>
				<th>Data Fim</th>
				<th>Categoria</th>
				<th>Avaliação</th>
			</tr>
			@foreach (var feira in tabelContent.Content)
			{
				<tr class=@tabelContent.Cssclasses[feira.Key] @onclick="() => tabelContent.SelectedRow(feira.Key)">
					<td> @feira.Key</td>
					<td> @feira.Value.Item1</td>
					<td> @feira.Value.Item2</td>
					<td> @feira.Value.Item2</td>
					<td> @feira.Value.Item2</td>
					<td> @feira.Value.Item2</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<br />
	<div>

			<button class="buttonA buttonTable1" @onclick="ConsultarStands">Consultar Stands</button>
			<button class="buttonA buttonTable2" @onclick="ConsultarLeiloes">Consultar Leilões</button>
	</div>
</div>

@code
{
	private Table<string> tabelContent;
	private int erro = 0;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	protected override void OnInitialized()
	{
		List<(int, string, int)> conteudo = new List<(int, string, int)>();
		conteudo.Add((1, "abc", 2));
		conteudo.Add((2, "def", 3));
		conteudo.Add((3, "ghi", 4));
		conteudo.Add((4, "jkl", 5));
		this.tabelContent = new Table<string>(conteudo);
		codigosErro[1] = "Nenhuma feira selecionada";
	}
	public void ConsultarStands()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
			navigationManager.NavigateTo("showfeirastands");
		}
		else
		{
			erro = 1;
		}
	}

	public void ConsultarLeiloes()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
		}
		else
		{
			erro = 1;
		}
	}
}
