@page "/showfeiras"
@using SourceCode.WebClasses;
@using SourceCode.Feiras;
@using System.Text.Json;

@inject NavigationManager navigationManager

<PageTitle>Feiras</PageTitle>

<h3>Feiras disponíveis</h3>
<br />
<div>
	@if (erro != 0)
	{
		<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="3"/>
	}
	<div class="tableFixHead">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Data Início</th>
					<th>Data Fim</th>
					<th>Categoria</th>
					<th>Avaliação</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var feira in tabelContent.Content)
			{
					<tr class=@tabelContent.Cssclasses[feira.Item1] @onclick="() => tabelContent.SelectedRow(feira.Item1)">
					<td> @feira.Item2.IDFeira</td>
					<td> @feira.Item2.Nome</td>
					<td> @feira.Item2.DataInicio</td>
					<td> @feira.Item2.DataFim</td>
					<td> @feira.Item2.Categoria</td>
					<td> @feira.Item3</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<br />
	<div>

			<button class="buttonA buttonTable1" @onclick="ConsultarStands">Consultar Stands</button>
			<button class="buttonA buttonTable2" @onclick="ConsultarLeiloes">Consultar Leilões</button>
	</div>
</div>

@code
{
	private Table<Feira> tabelContent;
	private int erro = 0;
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private static ShowFeirasComponent showFeiras;
	protected override void OnInitialized()
	{
		showFeiras = this;
		List<(Feira, int)> conteudo = new List<(Feira, int)>();
		conteudo.Add((new Feira(1, "abc", DateTime.Now, null, 20.0f, "abc", 1), 2));
		conteudo.Add((new Feira(2, "def", DateTime.Now, null, 30.0f, "def", 1), 3));
		conteudo.Add((new Feira(3, "ghi", DateTime.Now, null, 40.0f, "ghi", 1), 4));
		conteudo.Add((new Feira(4, "jkl", DateTime.Now, null, 50.0f, "jkl", 1), 5));
		conteudo.Add((new Feira(5, "mno", DateTime.Now, null, 60.0f, "mno", 1), 3));
		conteudo.Add((new Feira(6, "pqr", DateTime.Now, null, 70.0f, "stu", 1), 3));
		conteudo.Add((new Feira(7, "stu", DateTime.Now, null, 80.0f, "stu", 1), 3));
		this.tabelContent = new Table<Feira>(conteudo);
		codigosErro[1] = "Nenhuma feira selecionada";
	}
	public static ShowFeirasComponent GetInstace()
	{
		return showFeiras;
	}
	public void CleanWarning()
	{
		this.erro = 0;
		StateHasChanged();
	}
	public void ConsultarStands()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
			Feira feira = tabelContent.GetElement();
			string feiraStr = feira.IDFeira.ToString();
			navigationManager.NavigateTo($"showfeirastands/{feiraStr}");
		}
		else
		{
			erro = 1;
		}
	}

	public void ConsultarLeiloes()
	{
		if (tabelContent.IdValid())
		{
			erro = 0;
		}
		else
		{
			erro = 1;
		}
	}
}
